<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello ! <%= title %> !</p>

    <form action= '/menu' method = "GET">
       메뉴이름: <select name="menu"> 
          <option value="D">Drink</option>
          <option value="B">Bakery</option>
          <option value="G">Goods</option>
        </select>
      매장넘버: <select name="store">
          <option value="1">Store1</option>
          <option value="2">Store2</option>
          <option value="3">Store3</option>
 
        </select>
        <input type = "submit" value="이동">
    </form>
  </body>
</html>


<!-- 
<table>
  <tr>
    <td>
       아 이 디 : <input type="text" style="width:80px">
      </td>
    </td>
  </tr>
  <tr>
    <td>
       패스워드 : <input type="text" style= "width:80px">
      </td>
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" style = "width:68px; height:23px"  value="회원가입"/>
      <input type="button" style = "width:60px; height:23px"  value="로그인"/>
    </td>
   </tr>
</table> -->