<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello ! <%= title %> !</p>

    <form action= '/menu' method = "GET">
       메뉴이름: <select name="menu"> 
          <option value="Drink">Drink</option>
          <option value="Bakery">Bakery</option>
          <option value="Goods">Goods</option>
        </select>
      매장넘버: <select name="store">
          <option value="1">Store1</option>
          <option value=Store_2>Store2</option>
          <option value="Store_3">Store3</option>
          <option value="Store_4">Store4</option>
          <option value="Store_5">Store5</option>
          <option value="Store_6">Store6</option>
          <option value="Store_7">Store7</option>
          <option value="Store_8">Store8</option>
          <option value="Store_9">Store9</option>
          <option value="Store_10">Store10</option>
        </select>
        <input type = "submit" value="이동">
    </form>
  </body>
</html>
