<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    
    function btn_click(str){                             
        if(str=="menu"){                                 
            frm1.action="/menu";      
        } else if(str=="detail"){      
            frm1.action="/menu/detail";      
        }  else if(str=="user"){      
            frm1.action="/menu/user";      
        }else if(str=="AllMenu"){      
            frm1.action="/menu/AllMenu";      
        }else if(str=="StoreInfo"){
          frm1.action="/menu/StoreInfo"; 
        }
    }
   </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello ! <%= title %></p>

   
      <form name="frm1" method = "GET">
       이메일: <select name="email"> 
        <option value="drivejoe@naver.com">drivejoe@naver.com</option>
        <option value="stillkwak@naver.com">stillkwak@naver.com</option>
        <option value="wedding@naver.com">wedding@naver.com</option>
      </select>
        <input type = "submit" value="히스토리"  onclick='btn_click("menu");'>
        <select name="payuid"> 
          <option value="210121-D001">210121-D001</option>
          <option value="210121-B00">210121-B001</option>
          <option value="210121-D002">210121-D002</option>
          <option>============</option>
          <option value="210121-G001">210121-G001</option>
          <option value="210301-G002">210301-G002</option>
          <option value="210302-G002">210302-G002</option>
          <option>============</option>
          <option value="210121-G002">210121-G002</option>
          <option value="210302-G003">210302-G003</option>
          <option value="210303-G003">210303-G003</option>
        </select>
 
        <input type = "submit" value="상세내역"  onclick='btn_click("detail");'>
        <br/><br/> <input type = "submit" value="사용자목록"  onclick='btn_click("user");'>
        <input type = "submit" value="메뉴목록"  onclick='btn_click("AllMenu");'>
        <input type = "submit" value="매장목록"  onclick='btn_click("StoreInfo");'>
    </form>


  </body>
</html>


<!-- 메뉴이름: <select name="menu"> 
  <option value="Drink">Drink</option>
  <option value="Bakery">Bakery</option>
  <option value="Goods">Goods</option>
</select>
매장넘버: <select name="store">
  <option value="Store_1">Store1</option>
  <option value="Store_2">Store2</option>
  <option value="Store_3">Store3</option>
</select> -->

<!-- 
<table>
  <tr>
    <td>
       아 이 디 : <input type="text" style="width:80px">
      </td>
    </td>
  </tr>
  <tr>
    <td>
       패스워드 : <input type="text" style= "width:80px">
      </td>
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" style = "width:68px; height:23px"  value="회원가입"/>
      <input type="button" style = "width:60px; height:23px"  value="로그인"/>
    </td>
   </tr>
</table> -->