<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello ! <%= title %> !</p>

    <form methot = "GET">
       메뉴이름: <select name="menu"> 
          <option value="1">Drink</option>
          <option value="2">Bakery</option>
          <option value="3">Goods</option>
        </select>
      매장넘버: <select name="menu">
          <option value="1">Store1</option>
          <option value="2">Store2</option>
          <option value="3">Store3</option>
          <option value="4">Store4</option>
          <option value="5">Store5</option>
          <option value="6">Store6</option>
          <option value="7">Store7</option>
          <option value="8">Store8</option>
          <option value="9">Store9</option>
          <option value="10">Store10</option>
        </select>
        <input type = "submit" value="이동">
    </form>
  </body>
</html>
