<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello ! owner !></p>
    <table>
        <tr>
          <td>
             아 이 디 : <input type="text" style="width:80px">
            </td>
          </td>
        </tr>
        <tr>
          <td>
             패스워드 : <input type="text" style= "width:80px">
            </td>
          </td>
        </tr>
         <tr>
          <td>
             <input type="button" style = "width:68px; height:23px"  value="회원가입"/>
            <input type="button" style = "width:60px; height:23px"  value="로그인"/>
         </td>
         </tr> 
    </table>
   
  </body>
</html>
